# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual env
venv/
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data
*.db
*.sqlite
*.csv
*.xlsx
*.parquet

# Power BI backups
*.pbix~
